<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web-Chat</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

</head>

<body>

          <form action="/upload" method="POST" enctype="multipart/form-data">
            <p>Upload File: <input type="file" name="archivo" /></p> <br>
            <P><textarea name="textarea" style="width:540px;height:300px" disabled>Write something here</textarea></P>
            <br>
        </div>
        <center><input type="submit" value=" Verificar " style="font-size: larger"></center><br><br>
        </form>
   
    
</body></html>
